$primary-color: #2c3e50;

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
	height: 100%;
	min-height: 100%;
	color: #fff;
	background: $primary-color;
	font-family: 'Droid Sans Mono', monospace;
	font-weight: 100;
}

/* Grid System */

.container {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 5% auto;
  box-sizing: border-box;
}
.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
	}
  .column, .columns {
    margin-left: 4%;
	}
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
	}

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

}

/* Main Styling */

a, a:visited, li a, li a:visited{
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

a:hover {
	border-color: #fff;
}

p {
	font-size: 110%;
	line-height: 1.5;
}

::selection {
	background: rgba(0,0,0,0.2);
}

header {
	h2 {
		font-weight: 100;
	}
}

main {
	#portfolio {
		margin: 5% 0;
	}
}

footer {
	p {
		margin-top: 0;
	}
}