section {
    &#intro.project-intro {
        padding-bottom: 6.5vh;
    }
    &#project-content {
        h1 {
            font-size: 1.5em;
            &:first-of-type {
                margin-top: 0;
            }
        }
        h2 {
            font-size: 1.33em;
        }
        p {
            font-size: 1.1em;
            line-height: 1.75;
        }
        ol, ul {
            padding: 0;
            margin: 0;
            li:first-of-type {
                p {
                    margin-top: 0;
                }
            }
        }
        .image-container {
            position: relative;
            text-align: center;
            margin: 2em auto;
            width: 100%;
            max-width: 100%;
            &.large {
                width: 150%;
                max-width: 150%;
                margin-left: -25%;
            }
            &.small {
                width: 50%;
            }
            padding: 0;
            .img-col {
                padding: 1em;
                text-align: center !important;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    display: block;
                    &.shadow-img {
                        box-shadow: $box-shadow;
                    }
                }
            }
            span.image-caption {
                margin-top: 2em;
                color: $light-text;
            }
            iframe:not(.demo) {
                margin: 0 auto;
                box-shadow: $box-shadow;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    section {
        &#project-content {
            .image-container {
                &.large {
                    width: 100%;
                    max-width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
}