main {
    a.grid-item-link-portfolio {
        border-bottom: 0;
    }
    .grid-item {
        width: 100%;
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease;
        margin-bottom: 4em;
        transform: translateZ(0);
        &:hover {
            transform: scale(0.96) translateZ(0);
        }
        .grid-item-preview {
            transition: all 0.3s ease;
            text-align: center;
            img.grid-item-img {
                width: 100%;
                max-width: 100%;
            }
        }
        h2.grid-item-title {
            margin: 0;
            font-weight: 800;
            transition: all 0.8s ease;
            font-size: 2.5em;
            width: 100%;
        }
        ul.tags {
            padding: 2.5% 0 0 0;
            list-style: none;
            margin: 0;
            li.tag {
                display: block;
                float: right;
                clear: both;
                color: $light-text;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    main {
        .grid-item {
            h2.grid-item-title {
                font-size: 2em;
            }
            ul.tags {
                padding-top: 5px;
                li.tag {
                    font-size: 1.1em;
                    margin-top: -5px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    main {
        .grid-item {
            margin-bottom: 2.5em;
            h2.grid-item-title {
                font-size: 2em;
            }
            ul.tags {
                padding: 0;
                list-style: none;
                li.tag {
                    float: left;
                    clear: none;
                    display: inline-block;
                    &:not(:last-of-type) {
                        &::after {
                            content: "&";
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
}