$body-background: #FFFFFF;
$body-text: #333333;
$body-background-dark: #1C1C1C;
$body-text-dark: #F2F2F2;
$light-text: #A0A0A0;
$medium-light-text: darken($light-text, 10%);

$grey-accent: #DDDDDD;

$box-shadow: 0 0 40px 0 rgba(0,0,0,0.175);