main {
    .home-section {
        padding: 0 0 2.5vh 0;
        a.home-page-item-link {
            border-bottom: none;
        }
        h1.home-section-heading {
            font-size: 1.75em;
            span.emoji {
                padding-left: 0.35em;
            }
        }
        .grid-item {
            margin-bottom: 2em;
            .grid-item-preview {
                &.travel-item-preview {
                    height: 250px;
                    background: center center no-repeat;
                    background-size: cover;
                    filter: brightness(0.80);
                }
            }
            &:hover {
                transform: none;
                .grid-item-preview {
                    box-shadow: $box-shadow;
                }
            }
            h2.grid-item-title {
                font-size: 5em;
                margin-top: 0.25em;
                margin-bottom: 0;
                &.press-item-title {
                    font-size: 1.2em;
                }
                &.places-item-title {
                    .country {
                        color: $medium-light-text;
                    }
                }
            }
            p {
                &.grid-item-link {
                    margin: 0.1em 0;
                }
                &.grid-item-date {
                    &.press-item-date, &.places-item-date {
                        margin: 0.25em 0 0 0;
                        color: $medium-light-text;
                    }
                }
                &.grid-item-short-description {
                    &.press-item-extract {
                        margin: 0.5em 0;
                        font-size: 1em;
                    }
                }
            }
            ul.tags {
                padding: 5% 0 0 0;
                li.tag {
                    display: inline-block;
                    color: $medium-light-text;
                }
            }
            &.reading-list-item {
                .reading-list-item-author {
                    margin: 0.1em 0;
                    font-size: 1.1em;
                    color: $medium-light-text;
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    main {
        .home-section {
            .grid-item {
                h2.grid-item-title {
                    &.reading-list-item-title, &.press-item-title {
                        font-size: 1.2em;
                    }
                }
                &.reading-list-item {
                    .reading-list-item-author {
                        font-size: 0.9em;
                    }
                }
                p.grid-item-short-description {
                    &.press-item-extract {
                        display: none;
                    }
                }
            }
        }
    }
}